<!DOCTYPE html>
<html lang='en' xmlns="http://www.w3.org/1999/html">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common :: header(metaTitle='Task list')"></head>

<body class="container">
<div class="with:80%">
    <div th:replace="~{common::#navbar}"></div>
    <br/>
    <h1>Calendar</h1>
    <br/>
    <div class="row gutters-sm">
        <div th:replace="~{common::#sidebar}"></div>
        <div class="col-md-9 d-none d-md-block">
            <div class="card">
                <div class="card-body">
                    <a href="/" title="Home"><img height="25" src="/images/bx-calendar.svg" width="100"/></a>
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
<script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
            });
            calendar.render();
        });









</script>
</body>

</html>