.btn-link {
  border: solid;
  outline: none;
  background: none;
  cursor: pointer;
  color: #0000EE;
  text-decoration: none;
  padding: 2;
  font-family: inherit;
  font-size: inherit;
}

.btn-table {
  border: solid;
  outline: none;
  background: none;
  cursor: pointer;
  color: none;
  border-color: transparent !important;
  text-decoration: none;
  padding: 0.5;
  font-family: inherit;
  font-size: inherit;
}
.btn-table:hover {
  border-color: #D3D3D3 !important;
}

rect.btn {
  stroke: #fff;
  fill: #fff;
  fill-opacity: 0;
  stroke-opacity: 0;
}
