<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::#header}"></head>

<body class="container">
<div class="with:80%">
    <br/>
    <h1><span th:remove="tag" th:text="${title}">Todo List</span></h1>
    <br/>
    <div class="row gutters-sm">
        <div th:replace="~{common::#sidebar}"></div>
        <div class="col-md-8">
            <form class="form-horizontal" id="new-todo-form" method="post" th:action="@{/todo}" th:object="${todo}">
                <div th:replace="~{common::#hidden}"></div>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row align-items-center">
                            <input autofocus class="form-control form-control-lg input-lg" name="title"
                                   placeholder="Add new todo..." th:value="*{title}"/>
                            <div class="btn-group-vertical">
                                <button class="btn btn-outline-primary" type="submit">
                                    <svg fill="none" height="24" stroke="currentColor" stroke-linecap="round"
                                         stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <line x1="12" x2="12" y1="5" y2="19"/>
                                        <line x1="5" x2="19" y1="12" y2="12"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card">
                <table id="table">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th></th>
                        <th></th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Start</th>
                        <th>End</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="float-right" th:replace="~{common::#todosbar}"></div>
        </div>
    </div>
    <div th:replace="~{common::#bottom}"></div>
    <input id="listNames" th:value="@{/api/list/names}" type="hidden"/>
    <input id="list" th:value="@{/api/list/}" type="hidden"/>
</div>


<script>
    const getTableButton = (id, row, icon) => {
        return `<button class="btn btn-table">
            <i class="${id} far ${icon}" data-id="${row.id}"></i>
            </button>`;
    }

    let currentTab = '[[${currentTab}]]';
    let filter = '[[${filter}]]';
    let page = '[[${page}]]';
    let listId = '[[${listId}]]';
    console.log("currentTab: " + currentTab);
    console.log("filter: " + filter);
    console.log("page: " + page);
    console.log("listId: " + listId);

    $(document).ready(function() {
        let endpoint = '[[@{/api/todo}]]';
        console.log('Getting todos: ' + endpoint);
        fetch(endpoint, {
            method: 'GET',  // or 'POST'
            headers: {
                'page': page,
                'listId': listId,
                'filter': filter,
                'currentTab': currentTab
              },
            })
        .then(response => response.json())
        .then(data => {
             $('#table').dataTable({
                "bProcessing": true,
                data: data,
                columns: [
                    { data: "id", "visible": false},
                    {
                        data: null,
                        render: function(data, type, row) {
                            let icon = (data["completed"] == 1) ? 'fa-check-circle' : 'fa-circle';
                            return getTableButton('completed-btn',row, icon);
                        }
                    },
                    {
                        data: null,
                        render: function(data, type, row) {
                            let icon = (data["important"] == 1) ? 'fa-star text-warning' : 'fa-star';
                            return getTableButton('important-btn', row, icon);
                        }
                    },
                    { data: "title"},
                    { data: "status"},
                    { data: "start"},
                    { data: "end"},
                    { data: "created"}
                ],
            });
         })
        .catch(error => {
            console.error('Error:', error);
        });
    });

    $('#table').on('click', '.important-btn', function() {
        let id = $(this).data('id');
        markImportant(id);
    });

    $('#table').on('click', '.completed-btn', function() {
        let id = $(this).data('id');
        markCompleted(id);
    });

    function refreshRows (data) {
        let table = $('#table').dataTable().api();
        var index = table.column(0).data().indexOf(data.id);
        table.row(index).data(data);
    }

const markImportant = (id) => {
    let endpoint = '[[@{/api/todo/important/}]]' + id;
    console.log('Marking important: ' + endpoint);
    getData(endpoint);
};

const markCompleted = (id) => {
    let endpoint = '[[@{/api/todo/completed/}]]' + id;
    console.log('Marking complete: ' + endpoint);
    getData(endpoint);
};


    const getData = (endpoint) => {
        console.log('Getting todos: ' + endpoint);
        fetch(endpoint)
        .then(response => response.json())
        .then(data => {
            refreshRows(data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    };
</script>
</body>
</html>