<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::#header}"></head>
<body class="container">
<div class="with:80%">
    <br/>
    <h1><span th:remove="tag" th:text="${title}">Todo List</span></h1>
    <br/>
    <div class="row gutters-sm">
        <div th:replace="~{common::#sidebar}"></div>
        <div class="col-md-8">
            <form class="form-horizontal" id="new-todo-form" method="post" th:action="@{/todo}" th:object="${todo}">
                <input name="currentTab" th:value="${currentTab}" type="hidden"/>
                <input name="list_id" th:value="${list_id}" type="hidden"/>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row align-items-center">
                            <input autofocus class="form-control form-control-lg input-lg"
                                   name="title" placeholder="Add new todo..." th:value="*{title}"/>
                            <div class="btn-group-vertical">
                                <button class="btn btn-outline-primary">
                                    <img onclick="$(this).closest('form').submit();"
                                         th:src="@{/images/check-enabled.svg}"/>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Start</th>
                        <th>End</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="todo : ${todos}">
                        <td>
                            <form method="post" th:action="@{/completedStatus}"
                                  th:id="'completed_' + ${todo.id}">
                                <input name="id" th:value="${todo.id}" type="hidden"/>
                                <input name="list_id" th:value="${list_id != null} ? ${list_id}" type="hidden"/>
                                <input name="currentTab" th:value="${currentTab}" type="hidden"/>
                                <div th:if="${todo.completed} == 1">
                                    <img onclick="$(this).closest('form').submit();"
                                         th:src="@{/images/check-circle.svg}"/>
                                </div>
                                <div th:unless="${todo.completed} == 1">
                                    <img onclick="$(this).closest('form').submit();"
                                         th:src="@{/images/circle.svg}"/>
                                </div>
                            </form>
                        </td>
                        <td>
                            <form method="post" th:action="@{/importantStatus}"
                                  th:id="'important_' + ${todo.id}">
                                <input name="id" th:value="${todo.id}" type="hidden"/>
                                <input name="currentTab" th:value="${currentTab}" type="hidden"/>
                                <input name="list_id" th:value="${list_id != null} ? ${list_id}" type="hidden"/>
                                <div th:if="${todo.important} == 1">
                                    <img onclick="$(this).closest('form').submit();"
                                         th:src="@{/images/star-enabled.svg}"/>
                                </div>
                                <div th:unless="${todo.important} == 1">
                                    <img onclick="$(this).closest('form').submit();"
                                         th:src="@{/images/star.svg}"/>
                                </div>
                            </form>
                        </td>
                        <td th:text="${todo.title}">todo 1</td>
                        <td th:text="${todo.status}">Initial</td>
                        <td th:text="${todo.start}"></td>
                        <td th:text="${todo.end}"></td>
                        <td><a th:href="@{todo(id=${todo.id})}"><img th:src="@{/images/edit-2.svg}"/></a></td>
                        <td>
                            <form method="post" th:action="@{/delete}" th:id="'delete_' + ${todo.id}">
                                <input name="id" th:value="${todo.id}" type="hidden"/>
                                <input name="currentTab" th:value="${currentTab}" type="hidden"/>
                                <input name="list_id" th:value="${list_id != null} ? ${list_id}" type="hidden"/>
                                <img onclick="$(this).closest('form').submit();"
                                     th:src="@{/images/trash.svg}"/>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="~{common::#bottom}"></div>
    <input id="listNames" th:value="@{/api/list/names}" type="hidden"/>
    <input id="list" th:value="@{/api/list/}" type="hidden"/>
</div>
</body>
</html>