<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::#header}"></head>
<body class="container">
<div class="with:80%">
    <br/>
    <h1>Notifications</h1>
    <br/>
    <div class="row gutters-sm">
        <div th:replace="~{common::#sidebar}"></div>
        <div class="col-md-8">
            <table data-pagination="true" id="table">
                <thead>
                <tr>
                    <th data-field="important">Important</th>
                    <th data-field="title">Title</th>
                    <th data-field="start">Start</th>
                    <th data-field="end">End</th>
                    <th data-field="updated">Updated</th>
                    <th data-field="created">Created</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div th:replace="~{common::#bottom}"></div>
    <input id="notifications" th:value="@{/api/notifications}" type="hidden"/>
</div>

<script>
    var $table = $('#table');
    $(function() {
        var url = $("#notifications").val();
        $.get(url).then(function (res) {
            $table.bootstrapTable({data: res})
        });
    })
</script>

</body>

</html>